In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from tensorflow.keras import layers, models

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error

In [3]:
# docker
# data_path = "/workspaces/Machine Learning/Kaggle/data/melb_data.csv"

# conda
data_path = "../../Kaggle/data/melb_data.csv"

data = pd.read_csv(data_path)
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [6]:
data.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [7]:
# simple missing value handling
data = data.dropna(axis=0)
data.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [8]:
numeric_cols = data.select_dtypes(include='number').columns.to_list()

In [9]:
y = data.Price
X = data[numeric_cols]
X = X.drop(columns=['Price'])

In [10]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
scaler = StandardScaler()

train_X = scaler.fit_transform(train_X)
val_X = scaler.fit_transform(val_X)

train_y = np.log1p(train_y)
val_y = np.log1p(val_y)

In [11]:
model = models.Sequential([
    layers.Dense(6, activation='relu', input_shape=(train_X.shape[1],)),
    layers.Dense(8, activation='relu'),
    layers.Dense(8, activation='relu'),
    layers.Dense(8, activation='relu'),
    layers.Dense(1)  # output layer untuk regresi
])

model.compile(
    optimizer='adam',
    loss='mse',
    metrics='mae'
)

In [12]:
history = model.fit(train_X, train_y, validation_split=0.2, epochs=50, batch_size=32)

Epoch 1/50
117/117 [==============================] - 1s 3ms/step - loss: 166.3605 - mae: 12.8246 - val_loss: 117.8438 - val_mae: 10.6593
Epoch 2/50
117/117 [==============================] - 0s 1ms/step - loss: 54.6612 - mae: 6.4279 - val_loss: 21.7048 - val_mae: 3.8705
Epoch 3/50
117/117 [==============================] - 0s 1ms/step - loss: 16.9670 - mae: 3.2585 - val_loss: 11.3419 - val_mae: 2.7576
Epoch 4/50
117/117 [==============================] - 0s 1ms/step - loss: 10.3179 - mae: 2.5032 - val_loss: 7.5130 - val_mae: 2.2294
Epoch 5/50
117/117 [==============================] - 0s 1ms/step - loss: 7.0137 - mae: 2.0390 - val_loss: 5.1047 - val_mae: 1.8176
Epoch 6/50
117/117 [==============================] - 0s 1ms/step - loss: 4.9050 - mae: 1.6872 - val_loss: 3.6453 - val_mae: 1.5327
Epoch 7/50
117/117 [==============================] - 0s 1ms/step - loss: 3.5404 - mae: 1.4291 - val_loss: 2.6387 - val_mae: 1.2884
Epoch 8/50
117/117 [==============================] - 0s 1ms/step - loss: 2.6167 - mae: 1.2289 - val_loss: 1.9875 - val_mae: 1.1062
Epoch 9/50
117/117 [==============================] - 0s 1ms/step - loss: 1.9725 - mae: 1.0590 - val_loss: 1.5356 - val_mae: 0.9693
Epoch 10/50
117/117 [==============================] - 0s 2ms/step - loss: 1.5148 - mae: 0.9281 - val_loss: 1.2063 - val_mae: 0.8566
Epoch 11/50
117/117 [==============================] - 0s 2ms/step - loss: 1.1640 - mae: 0.8108 - val_loss: 0.9382 - val_mae: 0.7480
Epoch 12/50
117/117 [==============================] - 0s 2ms/step - loss: 0.9073 - mae: 0.7115 - val_loss: 0.7113 - val_mae: 0.6507
Epoch 13/50
117/117 [==============================] - 0s 2ms/step - loss: 0.7089 - mae: 0.6263 - val_loss: 0.5568 - val_mae: 0.5800
Epoch 14/50
117/117 [==============================] - 0s 2ms/step - loss: 0.5558 - mae: 0.5588 - val_loss: 0.4379 - val_mae: 0.5151
Epoch 15/50
117/117 [==============================] - 0s 1ms/step - loss: 0.4417 - mae: 0.4988 - val_loss: 0.3478 - val_mae: 0.4605
Epoch 16/50
117/117 [==============================] - 0s 2ms/step - loss: 0.3474 - mae: 0.4425 - val_loss: 0.2693 - val_mae: 0.4046
Epoch 17/50
117/117 [==============================] - 0s 1ms/step - loss: 0.2809 - mae: 0.3967 - val_loss: 0.2445 - val_mae: 0.3830
Epoch 18/50
117/117 [==============================] - 0s 1ms/step - loss: 0.2384 - mae: 0.3648 - val_loss: 0.2009 - val_mae: 0.3448
Epoch 19/50
117/117 [==============================] - 0s 1ms/step - loss: 0.2045 - mae: 0.3364 - val_loss: 0.1637 - val_mae: 0.3116
Epoch 20/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1772 - mae: 0.3136 - val_loss: 0.1470 - val_mae: 0.2941
Epoch 21/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1581 - mae: 0.2972 - val_loss: 0.1347 - val_mae: 0.2826
Epoch 22/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1430 - mae: 0.2839 - val_loss: 0.1226 - val_mae: 0.2737
Epoch 23/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1354 - mae: 0.2782 - val_loss: 0.1186 - val_mae: 0.2688
Epoch 24/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1298 - mae: 0.2736 - val_loss: 0.1157 - val_mae: 0.2652
Epoch 25/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1220 - mae: 0.2656 - val_loss: 0.1167 - val_mae: 0.2619
Epoch 26/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1197 - mae: 0.2642 - val_loss: 0.1120 - val_mae: 0.2574
Epoch 27/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1170 - mae: 0.2625 - val_loss: 0.1109 - val_mae: 0.2567
Epoch 28/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1163 - mae: 0.2617 - val_loss: 0.1066 - val_mae: 0.2527
Epoch 29/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1120 - mae: 0.2565 - val_loss: 0.1045 - val_mae: 0.2524
Epoch 30/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1106 - mae: 0.2561 - val_loss: 0.1064 - val_mae: 0.2519
Epoch 31/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1089 - mae: 0.2544 - val_loss: 0.1048 - val_mae: 0.2477
Epoch 32/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1069 - mae: 0.2520 - val_loss: 0.1023 - val_mae: 0.2476
Epoch 33/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1048 - mae: 0.2493 - val_loss: 0.1009 - val_mae: 0.2460
Epoch 34/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1040 - mae: 0.2500 - val_loss: 0.1015 - val_mae: 0.2483
Epoch 35/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1048 - mae: 0.2499 - val_loss: 0.1001 - val_mae: 0.2458
Epoch 36/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1016 - mae: 0.2468 - val_loss: 0.0996 - val_mae: 0.2473
Epoch 37/50
117/117 [==============================] - 0s 1ms/step - loss: 0.1003 - mae: 0.2449 - val_loss: 0.0988 - val_mae: 0.2452
Epoch 38/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0993 - mae: 0.2440 - val_loss: 0.0968 - val_mae: 0.2395
Epoch 39/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0993 - mae: 0.2430 - val_loss: 0.0963 - val_mae: 0.2393
Epoch 40/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0981 - mae: 0.2436 - val_loss: 0.1278 - val_mae: 0.2884
Epoch 41/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0971 - mae: 0.2407 - val_loss: 0.0924 - val_mae: 0.2358
Epoch 42/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0939 - mae: 0.2366 - val_loss: 0.1026 - val_mae: 0.2442
Epoch 43/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0916 - mae: 0.2346 - val_loss: 0.0912 - val_mae: 0.2334
Epoch 44/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0914 - mae: 0.2353 - val_loss: 0.0921 - val_mae: 0.2382
Epoch 45/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0915 - mae: 0.2347 - val_loss: 0.0896 - val_mae: 0.2329
Epoch 46/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0886 - mae: 0.2301 - val_loss: 0.0890 - val_mae: 0.2314
Epoch 47/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0873 - mae: 0.2290 - val_loss: 0.0889 - val_mae: 0.2317
Epoch 48/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0877 - mae: 0.2297 - val_loss: 0.0892 - val_mae: 0.2329
Epoch 49/50
117/117 [==============================] - 0s 1ms/step - loss: 0.0866 - mae: 0.2280 - val_loss: 0.0891 - val_mae: 0.2308
Epoch 50/50
117/117 [==============================] - 0s 2ms/step - loss: 0.0844 - mae: 0.2254 - val_loss: 0.0900 - val_mae: 0.2317

In [13]:
loss, mae = model.evaluate(val_X, val_y)
print(f"Mean Absolute Error: {mae}")

49/49 [==============================] - 0s 848us/step - loss: 0.0836 - mae: 0.2206
Mean Absolute Error: 0.22064006328582764

In [14]:
original_mae = np.expm1(mae)
print(original_mae)

0.24687455385540744

In [15]:
y_pred_log = model.predict(val_X)
y_pred = np.expm1(y_pred_log)
y_true = np.expm1(val_y)

mae_original = mean_absolute_error(y_true, y_pred)
print(mae_original)

49/49 [==============================] - 0s 738us/step
240588.1232650097