In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from tensorflow.keras import layers, models

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error

In [2]:
data_path = "..\\..\\Kaggle\\data\\melb_data.csv"
data = pd.read_csv(data_path)
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [3]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [5]:
data.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [6]:
# simple missing value handling
data = data.dropna(axis=0)
data.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [7]:
numeric_cols = data.select_dtypes(include='number').columns.to_list()

In [8]:
y = data.Price
X = data[numeric_cols]
X = X.drop(columns=['Price'])

In [9]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
scaler = StandardScaler()

train_X = scaler.fit_transform(train_X)
val_X = scaler.fit_transform(val_X)

train_y = np.log1p(train_y)
val_y = np.log1p(val_y)

In [ ]:
model = models.Sequential([
    layers.Dense(6, activation='relu', input_shape=(train_X.shape[1],)),
    layers.Dense(8, activation='relu'),
    layers.Dense(8, activation='relu'),
    layers.Dense(8, activation='relu'),
    layers.Dense(1)  # output layer untuk regresi
])

In [11]:
history = model.fit(train_X, train_y, validation_split=0.2, epochs=50, batch_size=32)

Epoch 1/50
117/117 [==============================] - 1s 6ms/step - loss: 150.4155 - mae: 12.1392 - val_loss: 83.0597 - val_mae: 8.7227
Epoch 2/50
117/117 [==============================] - 1s 5ms/step - loss: 45.2375 - mae: 5.6157 - val_loss: 18.5051 - val_mae: 3.4906
Epoch 3/50
117/117 [==============================] - 1s 5ms/step - loss: 18.1326 - mae: 2.9692 - val_loss: 11.5201 - val_mae: 2.6979
Epoch 4/50
117/117 [==============================] - 1s 5ms/step - loss: 12.9942 - mae: 2.4918 - val_loss: 8.7220 - val_mae: 2.3467
Epoch 5/50
117/117 [==============================] - 1s 5ms/step - loss: 9.9458 - mae: 2.1628 - val_loss: 6.8052 - val_mae: 2.0624
Epoch 6/50
117/117 [==============================] - 1s 5ms/step - loss: 7.8558 - mae: 1.9107 - val_loss: 5.4122 - val_mae: 1.8219
Epoch 7/50
117/117 [==============================] - 1s 5ms/step - loss: 6.2169 - mae: 1.6838 - val_loss: 4.4450 - val_mae: 1.6833
Epoch 8/50
117/117 [==============================] - 1s 5ms/step - loss: 4.9549 - mae: 1.5089 - val_loss: 3.4362 - val_mae: 1.4447
Epoch 9/50
117/117 [==============================] - 1s 5ms/step - loss: 3.9199 - mae: 1.3212 - val_loss: 2.7397 - val_mae: 1.2612
Epoch 10/50
117/117 [==============================] - 1s 5ms/step - loss: 3.1669 - mae: 1.1859 - val_loss: 2.1982 - val_mae: 1.1222
Epoch 11/50
117/117 [==============================] - 1s 5ms/step - loss: 2.5353 - mae: 1.0608 - val_loss: 1.7587 - val_mae: 1.0043
Epoch 12/50
117/117 [==============================] - 1s 5ms/step - loss: 1.9958 - mae: 0.9407 - val_loss: 1.4071 - val_mae: 0.8883
Epoch 13/50
117/117 [==============================] - 1s 5ms/step - loss: 1.5814 - mae: 0.8468 - val_loss: 1.1561 - val_mae: 0.8139
Epoch 14/50
117/117 [==============================] - 1s 5ms/step - loss: 1.2293 - mae: 0.7594 - val_loss: 0.9048 - val_mae: 0.7130
Epoch 15/50
117/117 [==============================] - 1s 5ms/step - loss: 0.9262 - mae: 0.6721 - val_loss: 0.7214 - val_mae: 0.6339
Epoch 16/50
117/117 [==============================] - 1s 5ms/step - loss: 0.7383 - mae: 0.6123 - val_loss: 0.6081 - val_mae: 0.5903
Epoch 17/50
117/117 [==============================] - 1s 5ms/step - loss: 0.5984 - mae: 0.5588 - val_loss: 0.5050 - val_mae: 0.5391
Epoch 18/50
117/117 [==============================] - 1s 5ms/step - loss: 0.4931 - mae: 0.5103 - val_loss: 0.4189 - val_mae: 0.4913
Epoch 19/50
117/117 [==============================] - 1s 5ms/step - loss: 0.4092 - mae: 0.4654 - val_loss: 0.3457 - val_mae: 0.4475
Epoch 20/50
117/117 [==============================] - 1s 5ms/step - loss: 0.3282 - mae: 0.4187 - val_loss: 0.2809 - val_mae: 0.4080
Epoch 21/50
117/117 [==============================] - 1s 5ms/step - loss: 0.2590 - mae: 0.3761 - val_loss: 0.2220 - val_mae: 0.3606
Epoch 22/50
117/117 [==============================] - 1s 5ms/step - loss: 0.2102 - mae: 0.3404 - val_loss: 0.1844 - val_mae: 0.3298
Epoch 23/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1813 - mae: 0.3177 - val_loss: 0.1614 - val_mae: 0.3062
Epoch 24/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1608 - mae: 0.3015 - val_loss: 0.1560 - val_mae: 0.3053
Epoch 25/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1465 - mae: 0.2905 - val_loss: 0.1348 - val_mae: 0.2796
Epoch 26/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1358 - mae: 0.2811 - val_loss: 0.1327 - val_mae: 0.2816
Epoch 27/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1285 - mae: 0.2748 - val_loss: 0.1205 - val_mae: 0.2666
Epoch 28/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1228 - mae: 0.2689 - val_loss: 0.1168 - val_mae: 0.2628
Epoch 29/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1194 - mae: 0.2654 - val_loss: 0.1187 - val_mae: 0.2660
Epoch 30/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1163 - mae: 0.2626 - val_loss: 0.1122 - val_mae: 0.2560
Epoch 31/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1134 - mae: 0.2591 - val_loss: 0.1109 - val_mae: 0.2561
Epoch 32/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1121 - mae: 0.2579 - val_loss: 0.1102 - val_mae: 0.2536
Epoch 33/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1099 - mae: 0.2549 - val_loss: 0.1078 - val_mae: 0.2539
Epoch 34/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1079 - mae: 0.2534 - val_loss: 0.1090 - val_mae: 0.2555
Epoch 35/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1065 - mae: 0.2510 - val_loss: 0.1043 - val_mae: 0.2467
Epoch 36/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1048 - mae: 0.2496 - val_loss: 0.1044 - val_mae: 0.2454
Epoch 37/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1036 - mae: 0.2485 - val_loss: 0.1132 - val_mae: 0.2624
Epoch 38/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1021 - mae: 0.2468 - val_loss: 0.1006 - val_mae: 0.2425
Epoch 39/50
117/117 [==============================] - 1s 5ms/step - loss: 0.1006 - mae: 0.2448 - val_loss: 0.1101 - val_mae: 0.2588
Epoch 40/50
117/117 [==============================] - 1s 5ms/step - loss: 0.0995 - mae: 0.2437 - val_loss: 0.0985 - val_mae: 0.2411
Epoch 41/50
117/117 [==============================] - 1s 5ms/step - loss: 0.0982 - mae: 0.2419 - val_loss: 0.0993 - val_mae: 0.2439
Epoch 42/50
117/117 [==============================] - 1s 5ms/step - loss: 0.0970 - mae: 0.2411 - val_loss: 0.0981 - val_mae: 0.2413
Epoch 43/50
117/117 [==============================] - 1s 5ms/step - loss: 0.0947 - mae: 0.2374 - val_loss: 0.0963 - val_mae: 0.2391
Epoch 44/50
117/117 [==============================] - 1s 5ms/step - loss: 0.0951 - mae: 0.2374 - val_loss: 0.0957 - val_mae: 0.2373
Epoch 45/50
117/117 [==============================] - 1s 5ms/step - loss: 0.0933 - mae: 0.2355 - val_loss: 0.0934 - val_mae: 0.2353
Epoch 46/50
117/117 [==============================] - 1s 5ms/step - loss: 0.0914 - mae: 0.2328 - val_loss: 0.0925 - val_mae: 0.2344
Epoch 47/50
117/117 [==============================] - 1s 5ms/step - loss: 0.0896 - mae: 0.2306 - val_loss: 0.0914 - val_mae: 0.2346
Epoch 48/50
117/117 [==============================] - 1s 5ms/step - loss: 0.0894 - mae: 0.2302 - val_loss: 0.0918 - val_mae: 0.2345
Epoch 49/50
117/117 [==============================] - 1s 5ms/step - loss: 0.0893 - mae: 0.2306 - val_loss: 0.0957 - val_mae: 0.2417
Epoch 50/50
117/117 [==============================] - 1s 5ms/step - loss: 0.0882 - mae: 0.2282 - val_loss: 0.0903 - val_mae: 0.2321

In [12]:
loss, mae = model.evaluate(val_X, val_y)
print(f"Mean Absolute Error: {mae}")

49/49 [==============================] - 0s 3ms/step - loss: 0.2781 - mae: 0.2429
Mean Absolute Error: 0.2428671419620514

In [13]:
original_mae = np.expm1(mae)
print(original_mae)

0.27489923225559376

In [14]:
y_pred_log = model.predict(val_X)
y_pred = np.expm1(y_pred_log)
y_true = np.expm1(val_y)

mae_original = mean_absolute_error(y_true, y_pred)
print(mae_original)

49/49 [==============================] - 0s 1ms/step
19969917379.504044